#logOutBtn{
    position: absolute;
    z-index: 9999;
    padding: 1em 2em;
    color: 074d9;
    border: 0;
    right: 0;
    margin-top: -20px;
    margin-right: 10px;
    background: #fff;
  }
  
  #logOutBtn:hover{
    background:#333;
  }
  
  .modal2{
    /* display:none; */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
  }
  
  .modal-content{
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    box-shadow: 0 5px 0 rgba(0,0,0, 0.2),0 7px 20px 0 rgba(0,0,0.17);
    z-index: 9999;
  }
  
  .closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
  }
  
  .closeBtn:hover, .closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
  }

  #loginForm-sidebar, #signupForm-sidebar {
    margin: 20px;
  }

  form {
    width: 100%;
    position: relative;
    right: 80px;
  }
  
  input {
    width: 100%;
  }
  
  .form-spacing {
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
  }

  #modalBtn{
    position: absolute;
    color: 074d9;
    border: 0;
    right: 0;
    margin-right: 80px;
    margin-top: -70px;
  }

  #modalBtn:hover{
    color:#333;
  }

  